body {
    background-color: #C6CA53;
  }

  #blackbody {
    border-radius: 150px;
    background: #0A0903;
    padding: 20px;
    width: 1000px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}

#bodytext {

    text-align: center;
    vertical-align: middle;
    color: white;
    margin-top: 60px;
}

#selection {

    text-align: center;
    vertical-align: middle;
    color: black;
}

#header {
    text-align: center;
    vertical-align: middle;
    line-height: 2px; 
    font-size: 25px;
  }

#pinkheader {
    border-radius: 250px;
    background: #2e9c99;
    padding: 20px;
    width: 1200px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

